<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TextAnalyzer</title>
        <link rel="stylesheet" href="~/StyleSheet.css">
    </head>
    <body>
        @model MvcMovie.Views.HelloWorld.IndexModel
        @{
            ViewData["Title"] = "Index";
        }

        <h2>TextAnalyser</h2>

        <p>Type your text right here!</p>
        <form asp-action="Index" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label class="control-label">Text</label>
                <input id="answerid" name="answerid" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <input type="submit" value="Analyze" class="btn btn-default" />

        </form>
        @if (Model.Answer != null)
        {
            <p>Your keywords:</p>
            @foreach (var e in Model.Answer.Split().Where(x => x != string.Empty))
            {
                <input type="submit" value="@e" class="btn btn-default" />
                <output>@Model.Stroka.Split('.').Where(x => x.Contains(e))</output>
            }
        }
    </body>
</html>