<!DOCTYPE html>
@using System.Text;
<html>
    <head>
        <meta charset="utf-8">
        <title>TextAnalyzer</title>
        <link rel="stylesheet" href="~/StyleSheet.css">
    </head>
    <body>
        @model MvcMovie.Views.HelloWorld.IndexModel
        @{
            ViewData["Title"] = "Index";
        }

        <p>Type your text right here!</p>
        <form asp-action="Index" method="post" enctype="multipart/form-data">

            <div class="form-group">
                <label class="control-label">Text</label>
                <input id="answerid" name="answerid" class="form-control" />
                <span class="text-danger"></span>
            </div>

            <input type="submit" value="Analyze" class="btn btn-default" />

        </form>
        @if (Model.Answer != null)
        {
            int o = 1;
            <p>Your keywords: @Model.Answer</p>
            @foreach (var e in Model.Answer.Split().Where(x => x != string.Empty))
            {
                <input style="color:black" type="submit" value="@o) @e" class="btn btn-default" />
                o++;
                <br />
                var c = new StringBuilder();
                foreach(var t in Model.Stroka.Split('.').Where(x=>x.ToLower().Contains(e)))
                {
                    c.Append(t);
                    // <output style="color: black" class="btn btn-outline-dark">@t</output>
                }
                <output style="color: black" class="btn btn-outline-success">@c</output>
                <br />
            }
        }
    </body>
</html>